<!DOCTYPE html>
<html lang="zh">

<%- partial('_partial/head') %>

<body>
	<%- partial('_partial/header.ejs') %>
	<%- partial('_partial/sidebar.ejs') %>

	<!-- 引入正文 -->
  <div id='content-box'>
  <canvas id="universe" width="1313" height="937"></canvas>
	<div id="content">
		<%- body %>
	</div>
  </div>
	<%- partial('_partial/footer.ejs') %>
	<%- partial('_partial/totop') %>
</body>
</html>